@model Fuar_Organizasyon.Models.TestTablo

@{
    ViewBag.Title = "Firma Anket";
    Layout = "~/Views/Shared/_LayoutkatilimciPanel.cshtml";
}

<h2>FirmaAnket</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Aşağıdaki Faaliyet Alanlarına 0-10 arasında puan veriniz</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })


        <div class="form-group">
            @Html.LabelFor(model => model.C1, "Otomotiv Sanayi", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.C1, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.C1, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.C2, "Makine Sanayi", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.C2, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.C2, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.C3, "Savunma ve Havaclılık Sanayi", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.C3, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.C3, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.C4, "Elektrik & Elektronik Sanayi", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.C4, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.C4, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.C5, "Beyaz Eşya Sanayi", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.C5, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.C5, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.C6, "Tarım Makinaları Sanayi", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.C6, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.C6, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.C7, "Plastik Makinaları Sanayi", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.C7, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.C7, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.C8, "Teknoloji", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.C8, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.C8, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.C9, "Arge", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.C9, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.C9, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.C10, "Endüstriyel", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.C10, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.C10, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.C11, "Mühendislik", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.C11, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.C11, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.C12, "Restorasyon", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.C12, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.C12, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.C13, "Eğitim", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.C13, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.C13, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.C14, "Belediye Hizmetleri", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.C14, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.C14, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.C15, "Askeri", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.C15, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.C15, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Gönder" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
